# Created by lance .ignore support plugin (hsz.mobi)
*.class
.classpath
.project
.settings
.metadata
*stdout.log
*debug.log
.gradle
.idea


# Package Files #
/**/build
/**/target
*.iml
*.war
*.ear
/target/*
/bin/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
ServiceBin
/target/
/logs/
LOG_PATH_IS_UNDEFINEDLOG_FILE_IS_UNDEFINED
