<component name="ArtifactManager">
  <artifact type="war" name="mybatis-annotation:war">
    <output-path>$PROJECT_DIR$/mybatis-annotation/target</output-path>
    <root id="archive" name="mybatis-annotation.war">
      <element id="artifact" artifact-name="mybatis-annotation:war exploded" />
    </root>
  </artifact>
</component>